body {
  background-color: cadetblue; 
  background-image: url("./image6.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;

}

.container {
  width: 400px; 
  margin: 0 auto; 
  background-color: #fff; 
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.countdown-container {
  font-family: Arial, sans-serif;
  text-align:center;
  color:white;

}

.timer {
  margin-top: 20px;
}

.timer label {
  font-weight: bold;
}

.timer input {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.timer p {
  font-size: 20px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color:white;
  cursor: pointer;
}

.buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


